p {
  margin: 0;
}

.detail {
  padding: 0.2em;
  padding-left: 3em;
  padding-top: 1.4em;
}

.description {
  white-space: pre-wrap;
}

.description_container {
  padding: 0 1.5em;
}

.bar {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.video {
  height: 31.25em;
}

.channel_description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.channel_left {
  display: flex;
}

.viewCount,
.date {
  padding: 0 0.3rem;
}

.channel_right {
  display: flex;
}

.likeContainer {
  padding: 0 1rem;
}

.dislikeContainer {
  padding: 0 1rem;
}

.likeIcon,
.dislikeIcon {
  padding: 0 0.3rem;
}

@media screen and (max-width: 48rem) {
  .detail {
    padding: 0;
  }

  .video {
    height: 200px;
  }
}
